.select{
    width: auto;
    min-width: 150px;
    padding: 10px 16px;
    background-color: hsla(0,0%,100%,.07);
    border-radius: 8px;
    font-size: 14px;
    color: #fff;

    border: none;
    cursor: pointer;
}

.filterName{
    font-size: 14px;
    margin-bottom: 3px;
}

